 db.sqlite3                                                                                                                                                                  
 git_pract/__pycache__/urls.cpython-37.pyc      
 git_pract/__pycache__/wsgi.cpython-37.pyc 